{{ define "main" }}

{{ .Content }}

{{ end }}

{{ define "header" }}

<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer"></div>
        <span class="mdl-layout-title"><h3>{{ .Title }}</h3></span>
        <div class="mdl-layout-spacer"></div>
    </div>
</header>

{{ end }}

{{ define "drawer" }}

<div class="mdl-layout__drawer">
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link mdl-layout-title" href="{{ .Page.Site.BaseURL }}/uniswap/">Uniswap</a>
    </nav>
    <nav class="mdl-navigation">
        <span class="mdl-navigation__link mdl-layout-title" style="background-color: #fafafa;">Bancor</span>
        {{ $currentPage := . }}
        {{ range .Site.Menus.bancor }}
        <a class="mdl-navigation__link" {{if eq $currentPage.RelPermalink .URL }}{{ else }}href="{{ .URL }}"{{ end }} style="padding-left: 60px;">{{ .Name }}</a>
        {{ end }}
    </nav>
    <div class="mdl-layout-spacer"></div>
    <hr>
    <nav class="mdl-navigation">
        <span class="mdl-navigation__link mdl-layout-title" style="background-color: #fafafa;">Сurrency</span>
        <a class="base-selector mdl-navigation__link{{ if isset .Params "disable_usdb" }} disabled{{ end }}" id="usdb-selector" {{ with .Params.disable_usdb }}{{ else }}href="#"{{ end }} style="padding-left: 60px;">USDB</a>
        <a class="base-selector mdl-navigation__link{{ if isset .Params "disable_bnt" }} disabled{{ end }}" id="bnt-selector" {{ with .Params.disable_bnt }}{{ else }}href="#"{{ end }} style="padding-left: 60px;">BNT</a>
    </nav>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-layout-spacer"></div>
</div>

{{ end }}