<footer class="mdl-mini-footer" style="flex: 0 0 auto;padding:15px">
  <div class="mdl-mini-footer__left-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://etherscan.io/address/0xa1ed93bf44ba35f1e8ebfb4d104a0e109337a5aa">Donations</a></li>
    </ul>
  </div>
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-mini-footer__middle-section">
    <ul class="mdl-mini-footer__link-list">
      <li>ZumZoom © 2019</li>
    </ul>
  </div>
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://twitter.com/byZumZoom">Twitter</a></li>
      <li><a href="https://github.com/ZumZoom/analytics">GitHub</a></li>
    </ul>
  </div>
</footer>
