body {
    font-family: 'Roboto', sans-serif;
    color: #555555;
}

h1 {
    font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #ccc;*/
}

li {
    float: left;
    background-color: #F7F7F7;
    border-right:5px solid #fff;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #e6e6e6;
}

.active {
    background-color: #e7ebf4;
    font-weight: bold;
}
